body,html{
  /* margin:4rem 10rem; */
  height:100%;
  margin:0;
}
.home{
  background-image: url('./images/presentation.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem 4rem;
  background-color: black;
  color:white;

}

nav h1{
  font-size:35px;
}
nav a{
  color:white;
  font-size:20px;
  text-decoration: none;
  padding:0 15px;
  font-weight: bold;
}